footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 27px auto 0;
}

.social-icons {
  display: inline-flex;
  place-content: center;
  place-items: center;
  border: 2px solid #000;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-left: 12px;
}
