nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.95);
  height: 119px;
}

nav li:nth-child(2),
nav li:nth-child(3) {
  order: -1;
}

.nav_links {
  list-style: none;
  padding: 0;
  display: flex;
}

.nav_links .nav_link {
  display: inline-block;
  margin: auto 30px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 27px auto 0;
}

.social-icons {
  display: inline-flex;
  place-content: center;
  place-items: center;
  border: 2px solid #000;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  margin-left: 12px;
}

.card {
  display: grid;
  margin-bottom: 56px;
}

.card .card_title {
  text-align: center;
  padding: 0px;
  font-family: PTSerif-Bold;
  font-size: 24px;
  color: #3b3d40;
  letter-spacing: 0;
  width: 100%;
}

.card .card_text {
  text-align: center;
  margin: 32px auto 24px;
  width: 100%;
}

.card .card_image {
  height: 100%;
  width: 100%;
}

.card .card_image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card .card_footer {
  text-align: center;
}

.card-lg {
  width: 100%;
  height: auto;
  max-width: 633px;
}

.card-lg .card_title {
  max-width: 633px;
  height: 31px;
  margin: 40px auto 0;
  overflow: hidden;
}

.card-lg .card_image {
  max-height: 633px;
  height: 633px;
  max-width: 633px;
}

.card-md {
  height: auto;
  max-width: 460px;
}

.card-md div:nth-child(2) {
  order: -1;
}

.card-md .card_title {
  height: 62px;
  margin-bottom: 40px;
  max-width: 460px;
}

.card-md .card-text {
  max-width: 460px;
  min-height: 96px;
}

.card-md .card_image {
  max-height: 460px;
  height: 460px;
  max-width: 460px;
}

.card-sm {
  width: 100%;
  height: auto;
  max-width: 286px;
}

.card-sm div:nth-child(2) {
  order: -1;
}

.card-sm .card_title {
  max-width: 286px;
  margin-bottom: 40px;
  height: 62px;
  overflow: hidden;
}

.card-sm .card-text {
  max-width: 286px;
  height: 165px;
}

.card-sm .card_image {
  max-height: 286px;
  height: 286px;
  max-width: 286px;
}

.detail {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #a78f79;
  color: #b7a698;
  line-height: 18px;
  display: flex;
  width: 286px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

.tag {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #a78f79;
  opacity: 0.5;
  border: 1px solid #b7a698;
  border-radius: 4px;
  padding: 3px 9px;
  width: fit-content;
  display: inline-block;
  margin-right: 8px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 10px;
}

.recipe_ingredients {
  border-left: 2px solid #000;
}

.recipe_ingredients li {
  padding: 14px 0px;
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-size: 20px;
  color: #7d7d7d;
}

.recipe_ingredients li::before {
  content: "";
}

.btn_share {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #a78f79;
  align-items: center;
}

.share {
  display: flex;
  justify-content: flex-end;
}

.share .btn_share {
  width: 70px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-left: 27px;
  text-transform: uppercase;
}

.btn_primary {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #a78f79;
  color: #fff;
  text-transform: uppercase;
  background: #a78f79;
  border-radius: 4px;
  padding: 9px 15px;
  width: fit-content;
  margin: 16px 0px;
  cursor: pointer;
}

.comment {
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-areas: "a b";
  padding: 24px 0px;
  border-bottom: 1px solid #e2d1c1;
}

.comment_avatar {
  grid-area: a;
  width: 51px;
  height: 51px;
}

.comment_avatar img {
  width: 100%;
  object-fit: cover;
}

.comment_body {
  grid-area: b;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.comment_text {
  font-family: "Source Serif Pro";
  font-weight: 400;
  font-size: 20px;
  color: #7d7d7d;
  margin: 15px 0px 24px;
}

.comment .detail {
  margin: 0;
  justify-content: flex-start;
}

.comment_form {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  color: #a78f79;
  color: #3b3d40;
  text-anchor: start;
  width: 100%;
  opacity: 0.65;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  vertical-align: text-top;
  padding: 10px;
  resize: none;
  margin: 20px auto 0px;
}

.recipe {
  display: grid;
  place-items: center;
  grid-template-columns: 24% auto 24%;
  grid-auto-rows: auto;
  grid-template-areas: "header header header" "left content right" "bleft footer bright" "cleft comment cright";
}

.recipe_image {
  grid-area: header;
  width: 100%;
  height: 100%;
  max-height: 600px;
}

.recipe_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe_title {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 26px;
  color: #3b3d40;
}

.recipe_body {
  grid-area: content;
  max-width: 633px;
  width: 100%;
}

.recipe_subtitle {
  font-family: "PT Serif";
  font-weight: 700;
  font-size: 20px;
  color: #3b3d40;
}

.recipe_text {
  font-family: "Source Serif Pro";
  font-size: 18px;
  font-weight: 400;
  color: #7d7d7d;
}

.recipe_footer {
  max-width: 633px;
  width: 100%;
  grid-area: footer;
  display: flex;
  justify-content: space-between;
}

.recipe_footer .detail {
  margin: 0;
  justify-content: space-between;
}

main {
  min-height: 70vh;
  width: 80%;
  margin: 0px auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1100px;
  margin: 0 auto;
}
